@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.HomePage {
  text-align: center;
  padding-top: 10px;

  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .Loader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}