.BookList {
  display: grid;
  grid-template-columns: repeat(5, 240px);
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  gap: 30px;
  margin-bottom: 20px;

  .Loader {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}