@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.ProfilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  position: relative;

  .Logout {
    position: absolute;
    top: 0;
    right: 0;

    @include button(100px, 35px, $font-xs, 12px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Username {
    margin-bottom: 10px;
  }

  span {
    font-size: $font-m;
  }

  .Pattern {
    width: 250px;
    height: 85px;
    margin-top: 30px;
  }
}