@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.AboutPage {
  * {
    color: $white;
    font-family: 'Comfortaa', sans-serif;
  }

  .FirstScreen {
    position: relative;
    height: calc(101vh - 65px);
    background-image: url('../../assets/aboutpage-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      margin-bottom: 10px;
      width: 330px;
      height: 300px;
    }

    p {
      color: $white;
      width: 700px;
      font-size: $font-l;
      font-weight: 700;
      text-align: center;
      text-shadow: $bx-shadow;
    }
  }

  .SecondScreen {
    position: relative;
    overflow-x: hidden;
    height: 100%;
    padding: 120px 0;
    background: rgb(47,47,47);
    background: radial-gradient(circle, rgba(47,47,47,1) 0%, rgba(0,0,0,1) 100%);

    display: flex;
    flex-direction: column;
    align-items: center;

    .BooksV {
      position: absolute;
      opacity: .1;
      width: 250px;
      height: 230px;

      &:nth-child(1) {
        left: 10%;
        top: 25%;
      }

      &:nth-child(2) {
        right: 10%;
        top: 80%;
      }
    }

    .BooksH {
      position: absolute;
      opacity: .1;
      width: 250px;
      height: 230px;

      &:nth-child(3) {
        right: 10%;
        top: 35%;
      }

      &:nth-child(4) {
        left: 10%;
        top: 70%;
      }
    }
    
    .Header {
      text-align: center;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 200px;
      position: relative;

      img {
        width: 150px;
        position: absolute;
      }

      h1 {
        font-size: $font-xl;
        width: 500px;
      }
    }

    .Section {
      display: flex;
      justify-content: space-around;
      margin-bottom: 200px;
      
      &:last-child {
        margin-bottom: 0;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
          width: 150px;
          height: 120px;
          margin-bottom: 20px;
        }

        h3 {
          font-size: $font-l;
          width: 450px;
        }
      }
    }

    button {
      @include button(300px, 70px, $font-l, 15px);
      background: $white;

      &:hover {
        opacity: 1;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $black;
        font-weight: 700;
        width: 100%;
        height: 100%;
      }
    }
  }

  @media (max-width: 992px) {
    .SecondScreen {
      .Header {
        img {
          width: 100px;
        }

        h1 {
          font-size: $font-m;
        }
      }
    }
  }


  @media (max-width: 768px) {

    .FirstScreen {
      height: calc(101vh - 45px);

      img {
        width: 250px;
        height: 220px;
      }

      p {
        width: 500px;
        font-size: $font-m;
      }
    }

    .SecondScreen {

      .BooksV {
      position: absolute;
      opacity: .1;
      width: 200px;
      height: 180px;

      &:nth-child(1) {
        left: 10%;
        top: 25%;
      }

      &:nth-child(2) {
        right: 10%;
        top: 80%;
      }
    }

    .BooksH {
      position: absolute;
      opacity: .1;
      width: 200px;
      height: 180px;

      &:nth-child(3) {
        right: 10%;
        top: 35%;
      }

      &:nth-child(4) {
        left: 10%;
        top: 70%;
      }
    }

      .Header {
        img {
          width: 80px;
        }

        h1 {
          font-size: $font-m;
          width: 50%;
        }
      }

      .Section {
        margin-bottom: 150px;

        div {
          img {
            width: 100px;
            height: 80px;
          }

          h3 {
            font-size: $font-m;
          }
        }
      }

      button {
        width: 250px;
        height: 60px;
        font-size: $font-m;
      }
    }
  }

  @media (max-width: 576px) {
    .FirstScreen {
      height: calc(101vh - 45px);

      img {
        width: 200px;
        height: 170px;
      }

      p {
        width: 320px;
        font-size: $font-s;
      }
    }

    .SecondScreen {

      .BooksV {
        position: absolute;
        opacity: .1;
        width: 150px;
        height: 130px;
  
        &:nth-child(1) {
          left: 10%;
          top: 25%;
        }
  
        &:nth-child(2) {
          right: 10%;
          top: 80%;
        }
      }
  
      .BooksH {
        position: absolute;
        opacity: .1;
        width: 150px;
        height: 130px;
  
        &:nth-child(3) {
          right: 10%;
          top: 35%;
        }
  
        &:nth-child(4) {
          left: 10%;
          top: 70%;
        }
      }

      .Header {
        img {
          width: 70px;
        }

        h1 {
          font-size: $font-s;
          width: 50%;
        }
      }

      .Section {
        margin-bottom: 100px;

        div {
          img {
            width: 80px;
            height: 60px;
          }

          h3 {
            font-size: $font-s;
            width: 320px;
          }
        }
      }

      button {
        width: 200px;
        height: 50px;
        font-size: $font-s;
      }
    }
  }
}