@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.AboutPage {
  * {
    color: $white;
    font-family: 'Comfortaa', sans-serif;
  }

  .FirstScreen {
    position: relative;
    height: calc(101vh - 65px);
    background-image: url('../../assets/aboutpage-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      margin-bottom: 10px;
      width: 330px;
      height: 300px;
    }

    p {
      color: $white;
      width: 700px;
      font-size: $font-l;
      font-weight: 700;
      text-align: center;
      text-shadow: $bx-shadow;
    }
    
    .Triangle {
      position: absolute;
      bottom: 0;
      border: 30px solid transparent;
      border-top: 30px solid $white;
      border-radius: 10px;
      filter: blur(1px);
    }
  }

  .SecondScreen {
    position: relative;
    height: 100%;
    padding: 120px 0;
    background: rgb(47,47,47);
    background: radial-gradient(circle, rgba(47,47,47,1) 0%, rgba(0,0,0,1) 100%);

    display: flex;
    flex-direction: column;
    align-items: center;

    .BooksV {
      position: absolute;
      opacity: .1;
      width: 250px;
      height: 230px;

      &:nth-child(1) {
        left: 10%;
        top: 25%;
      }

      &:nth-child(2) {
        right: 10%;
        top: 80%;
      }
    }

    .BooksH {
      position: absolute;
      opacity: .1;
      width: 250px;
      height: 230px;

      &:nth-child(3) {
        right: 10%;
        top: 35%;
      }

      &:nth-child(4) {
        left: 10%;
        top: 70%;
      }
    }
    
    .Header {
      text-align: center;
      display: flex;
      justify-content: space-around;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 200px;
      position: relative;

      img {
        width: 150px;
      }

      h1 {
        font-size: $font-xl;
        width: 500px;
      }
    }

    .Section {
      display: flex;
      justify-content: space-around;
      margin-bottom: 200px;
      
      &:last-child {
        margin-bottom: 0;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
          width: 150px;
          height: 120px;
          margin-bottom: 20px;
        }

        h3 {
          font-size: $font-l;
          width: 450px;
        }
      }
    }

    button {
      @include button(300px, 70px, $font-l, 15px);
      background: $white;

      &:hover {
        opacity: 1;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $black;
        font-weight: 700;
        width: 100%;
        height: 100%;
      }
    }
  }
}