@import '../../styles/variables.scss';

.Footer {
  padding: 5px 40px;
  display: flex;
  justify-content: space-between;
  box-shadow: $-shadow;

  img {
    width: 35px;
    height: 35px;
    cursor: pointer;
  }

  span {
    font-size: $font-s;
    font-weight: $medium;
  }
}
