@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.Subscribers {
  display: flex;
  flex-direction: column;
  align-items: center;

  .Loader {
    height: 30px;
    margin-bottom: 20px;
  }

  .Header {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: $tr-300;

    margin-bottom: 10px;

    img {
      width: 35px;
      margin-left: 10px;
    }

    h3 {
      font-size: $font-m;
    }

    &:hover {
      text-shadow: $t-shadow;
    }
  }

  span {
    font-size: $font-m;
  }
}