@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.Placeholder {
  border-radius: 10px;
  box-shadow: $bx-shadow;
  width: 350px;
  height: 550px;
  position: relative;
  background: $grey;
  background: $radial-grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .Audio {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    box-shadow: $icon-shadow;
  }

  h3 {
    word-break: break-all;
  }

  .Border {
    height: 5px;
    width: 50%;
    background: $black;
    margin: 10px 0;
  }

  .PlaceholderButtons {
    width: 100%;
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: space-around;
    background-color: $bg-trasnparent-light;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 0;

    button {
      @include button(120px, 30px, $font-xs, 7px)
     }
  }
}