@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Book {
  height: 350px;
  width: 240px;
  transition: $tr-300;
  cursor: pointer;
  border-radius: 10px;
  position: relative;


  &:hover {
    transform: scale(1.05);

    .Icon {
      opacity: 1;
    }
  }

  a {
    width: 100%;
    height: 100%;
    display: block;
  }

  img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: $bx-shadow;
  }
  
  .Placeholder {
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    background: $radial-grey;
    transition: $tr-300;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: $bx-shadow;
    padding: 5px;
    

    h4 {
      font-size: $font-m;
      margin-bottom: 15px;
      border-bottom: 2px solid $black;
      padding: 10px 0;
      word-break: break-all;
    }

    span {
      font-size: $font-s;
    }
  }

  .Icon {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: $bg-trasnparent-light;
    border-radius: 10px;
    opacity: 0;
    transition: $tr-300;

    h4 {
      color: $white;
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: $font-m;
      letter-spacing: 5px;
      text-shadow: $t-shadow;
      // word-break: break-all;
    }

    svg {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      height: 20px;
      box-shadow: none;
    }
  }
}