@import '../../styles/variables.scss';

.Header {
  position: fixed;
  width: 100%;
  padding: 5px 40px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $shadow;
  background: $white;
  z-index: 10;

  img {
    cursor: pointer;
    transition: $tr-300;
    height: 55px;

    &:active {
      transform: scale(0.92);
    }
  }

  @media (max-width: 768px) {
    padding: 5px 10px;
    height: 45px;

    img {
      height: 45px;
    }
  }
}
