@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';


.SearchItem, .SearchItemActive {
  font-size: $font-xs;
  padding: 10px 0;
  transition: $tr-200;

  &:first-of-type {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  &:last-of-type {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &:hover {
    background: $black;
    color: $white;
  }
}

.SearchItemActive {
  background: $dark-grey;
  color: $white;
}