@import '../../styles/variables.scss';

.Login {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 35px;
  }

  .Pattern {
    margin-top: 40px;
    width: 25rem;
  }

  span {
    font-size: $font-s;
    color: $black;
    font-weight: $semibold;

    a {
      font-weight: $bold;
      text-decoration: underline;
    }
  }

  @media (max-width: 992px) {
    h1 {
      font-size: $font-xl;
    }

    span {
      font-size: $font-s;
    }

    .Pattern {
      width: 20rem;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: $font-l;
    }

    span {
      font-size: $font-xs;
    }

    .Pattern {
      width: 16rem;
      margin-top: 30px;
    }
  }

  @media (max-width: 576px) {
    h1 {
      font-size: $font-m;
      max-width: 80%;
      text-align: center;
    }

    span {
      font-size: $font-s;
      text-align: center;
    }

    .Pattern {
      width: 15rem;
      margin-top: 20px;
    }
  }
}