@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Lobster&display=swap');
@import './variables.scss';

@mixin input($width, $height, $fz, $radius) {
  font-family: 'Lobster', cursive;
  border: 3px solid $light-grey;
  border-radius: $radius;
  width: $width;
  height: $height;
  padding: 15px 40px;
  font-size: $fz;
  transition: $tr-300;
  overflow-x: hidden;

  &::placeholder {
    transition: $tr-300;
  }

  &:focus {
    &::placeholder {
      transform: translateX(100px);
      opacity: 0;
    }
    border: 3px solid $black;
    box-shadow: $bx-shadow;
  }

  &:hover {
    border: 3px solid $dark-grey;
    &::placeholder {
      color: $black;
    }
  }
}

@mixin button($width, $height, $fz, $radius) {
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  border: none;
  outline: none;
  width: $width;
  height: $height;
  border-radius: $radius;
  font-size: $fz;
  background: $black;
  color: $white;
  cursor: pointer;
  transition: $tr-200;
  border: 1px solid $white;

  &:hover {
    opacity: 0.85;
  }

  &:active {
    transform: scale(0.98);
  }

  &:disabled {
    background-color: $middle-grey;
    color: $light;
  }
}
