// Font-weight

$light: 300;
$medium: 500;
$semibold: 600;
$bold: 700;

// Colors

$white: #fff;
$light: #f5f5f5;
$black: #000;
$grey: #adadad;
$middle-grey: #8a8a8a;
$dark-grey: #3b3b3b;
$light-grey: #464646;
$red: #ec1d1d;
$middle-red: rgba(252, 35, 35, 0.75);
$green: rgba(78, 255, 78, 0.75);
$yellow: rgba(255, 255, 73, 0.75);
$hover-red: #dc6666;
$light-red: #dc6666;
$accent: #5dc6fae6;
$bg-trasnparent: rgba(0, 0, 0, 0.7);
$bg-trasnparent-light: rgba(71, 71, 71, 0.3);
$bg-trasnparent-light: rgba(0, 0, 0, 0.4);
// Shadows

$shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
$-shadow: 0px -1px 2px rgba(0, 0, 0, 0.3);
$t-shadow: 1px 1px 1px $accent;
$bx-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
$bx-shadow-5: 0px 0px 5px rgba(0, 0, 0, 0.8);
$icon-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);

// Font-size

$font-primary: 22px;
$font-xxs: 14px;
$font-xs: 16px;
$font-s: 18px;
$font-m: 24px;
$font-l: 30px;
$font-xl: 36px;
$font-xxl: 48px;

// Transition

$tr-200: 0.2s;
$tr-300: 0.3s;
$tr-500: 0.5s;

// Gradients

$radial-grey: radial-gradient(circle, rgb(239, 239, 239) 0%, rgb(158, 158, 158) 70%);
