// Font-weight

$light: 300;
$medium: 500;
$semibold: 600;
$bold: 700;

// Colors

$white: #fff;
$black: #000;
$grey: #adadad;
$drak-grey: #232323;
$red: #da2b2b;

// Shadows

$shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
$-shadow: 0px -1px 2px rgba(0, 0, 0, 0.3);
$t-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);

// Font-size

$font-primary: 22px;
$font-xs: 16px;
$font-s: 18px;
$font-m: 24px;
$font-xl: 36px;

// Background

$bg-black: #000;

// Transition

$tr-200: 0.2s;
$tr-300: 0.3s;
