@import '../../styles/variables.scss';

.NavItem {
  margin-right: 35px;

  &:last-child {
    margin: 0;
  }

  a {
    display: flex;
    align-items: center;
    font-weight: $bold;
    font-size: $font-primary;
    transition: $tr-200;
  }

  img {
    transition: $tr-200;
  }

  .Active {
    text-shadow: $t-shadow;
  }

  img {
    margin-right: 10px;
    width: 22px;
    height: 22px;
  }

  &:hover {
    a {
      text-shadow: $t-shadow;
    }
  }
}
