@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.UserPage {
  display: flex;
  flex-direction: column;
  margin-top: 35px;

  .Loader {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 576px) {    
    margin-top: 0;
    align-items: center;

    h1 {
      font-size: $font-xl;
    }
  }
}